#Data-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

#Resume{

    height: 100%;
    width: 100%;
}

.panel-title{
    margin: 0;
}

.date{
    font-size: 1.2em;
}

.panel-task{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    text-align: justify;
    margin: 0;
}

.task{
    margin-left: 5%;
}
