.background{

    background-color: #647089;
}

.left-space{
    min-width: 5vh;
    min-height: 92vh;
    display: flex;
    flex-direction: column-reverse;
    
}

.up-space{
    min-width: 100vh;
    min-height: 6.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 7%;
}


.button-header {
    background-color: #2b445800;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 2%;
    height: 30%;
}
  
.button-header:hover {
    box-shadow: rgba(44, 154, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 173, 187, 0.25) 0 1px 2px,rgba(44, 168, 187, 0.25) 0 2px 4px,rgba(44, 168, 187, 0.25) 0 4px 8px,rgba(44, 158, 187, 0.25) 0 8px 16px,rgba(44, 154, 187, 0.25) 0 16px 32px;
}

.hover-button{
    border-bottom: 2px solid orange;
    margin: 0 2%
}